appdirs>=1.4.3 
certifi>=2020.4.5.1 
distlib>=0.3.0 
filelock>=3.0.12 
pipenv>=2018.11.26 
virtualenv>=20.0.20 
virtualenv-clone>=0.5.4
selenium>=3.141.0
openpyxl>=3.0.3
pytest>=5.4.1
pytest-azurepipelines>=0.8.0
pytest-cov>=2.8.1